mixin access-group(libraries, label, access)
	if libraries && libraries.length
		if label
			h4=label
		table.table.table-bordered.table-libraries
			theader
				tr
					th Library
					th Description
					th Linked in repositories
					th
			tbody
				each library in libraries
					tr
						td: a(href='ws/libraries/' + library.name target='_blank')=library.name
						td=library.description||'-'
						td
							if !library.linkedIn || !library.linkedIn.length
								| -
							else
								.comma-separated
									each repo in library.linkedIn
										span: a.follow(href=repo + '/datasets/Libraries')=repo
						td
							if isLibraryOwner(library)
								button.btn.btn-xs.btn-warning(data-action='change-access' data-name=library.name) Change access
								button.btn.btn-xs.btn-danger(data-action='delete' data-name=library.name data-access=library.access) Delete

mixin missing-libraries(missingLibraries)
	table.table.table-bordered.table-libraries
		theader
			tr
				th Library
				th Linked in repositories
				th
		tbody
			each library in missingLibraries
				tr
					td=library.name
					td
						.comma-separated
							each repo in (library.linkedIn || [])
								span: a.follow(href=repo + '/datasets/Libraries')=repo
					td
						button.btn.btn-xs.btn-success(data-action='add') Add

.header-box Libraries
	button.btn.btn-success.pull-right(data-action='add') Add library
	button.btn.btn-default.pull-right(data-action='open-updater') Open updater
	.clear
.content-box
	if !groups || !Object.keys(groups).length
		em No libraries uploaded
	else
		- var accesses = [{ type: 'PUBLIC', label: 'Public libraries' }, { type:'USER', label: 'Private libraries' }, { type: 'MEMBER', label: 'Member libraries' }];
		each access in accesses
			+access-group(groups[access.type], access.label, access.type)
.header-box Missing libraries
	.clear
.content-box
	p The following libraries are linked in repositories, but are not present on the server. For users to be able to work with these repositories, you will need to share the required libraries with them manually - or add them here.
	if !missingLibraries || !missingLibraries.length
		em No missing libraries found
	else
		+missing-libraries(missingLibraries)