mixin box(label, plural, count)
	- var lcLabel = label.toLowerCase()	
	- var lcPlural = plural.toLowerCase()	
	.header-box
		h4=plural
		.count=count
		hr
		button.btn.btn-lg.btn-block.btn-success(data-action='create-' + lcLabel) Create #{lcLabel}
	.list-box
		legend=plural 
			if label === 'Repository' && isSearchEnabled
				button.btn.btn-xs.btn-default.pull-right(data-action='reindex-repositories') Reindex
				button.btn.btn-xs.btn-default.pull-right(data-action='clear-index') Clear index
			else if label === 'User'
				button.btn.btn-xs.btn-default.pull-right(data-action='copy-users-to-clipboard') Copy to clipboard
			input.form-control.input-sm.filter.pull-right(id=lcLabel + '-filter' type='text' placeholder='filter' aria-label='Filter + ' + label)
			.clear
		div(id=lcPlural)
		if label === 'Repository' && isSearchEnabled
			#indexing-status

mixin editable-text(action, label, value, defaultValue)
	div
		strong #{label}: 
		if value
			| #{value}
		else
			i #{defaultValue}
		|  
		a(href='#' data-action=action)
			span.glyphicon.glyphicon-edit

mixin ordered-list(title, elements)
	.ordered-list
		strong #{title}: 
		ol
			each element in elements
				li(data-id=element.id data-hidden=element.hidden)
					span.list-label=element.label
					|  
					span.glyphicon.glyphicon-upload
					|  
					span.glyphicon.glyphicon-download
					|  
					span.glyphicon(class='glyphicon-eye-' + (element.hidden ? 'close' : 'open') data-action='change-visibility')
			
.content-box.overview
	.two-columns
		if isDataManager
			div: +box('Repository', 'Repositories', repositories)
		if isUserManager
			div: +box('User', 'Users', users)
		if isDataManager
			div: +box('Group', 'Groups', groups)
		if isUserManager
			div: +box('Team', 'Teams', teams)
	.clear
if isAdmin
	.header-box Server info
		button.btn.btn-lg.pull-right(class=maintenanceModeActive?'btn-success':'btn-warning' data-action='toggle-maintenance-mode')
			if maintenanceModeActive
				| Deactivate maintenance mode
			else
				| Activate maintenance mode
	.content-box
		div 
			strong Release version: 
			| {{releaseVersion}}
		div
			strong Commit id: 
			| {{commitId}}
		div
			strong Build date: 
			| {{buildDate}}
	.header-box Browse configuration
	.content-box
		.col-md-6
			.model-types-order: +ordered-list('Model type order', modelTypesOrder)
		.col-md-6
			.repositories-order: +ordered-list('Public repository order', repositoriesOrder)
		.clear
	.header-box Messages, & Texts
	.content-box
		+editable-text('set-maintenance-message', 'Maintenance message', maintenanceMessage, 'Not set') 
		+editable-text('set-announcement', 'Announcement text', announcementMessage, 'No announcement set') 
		+editable-text('set-license-agreement-text', 'License agreement text', licenseAgreementText, 'No license agreement set') 
		if isHomepageEnabled
			hr
			+editable-text('set-home-title', 'Home title', homeTitle, 'Not set') 
			+editable-text('set-home-text', 'Home welcome text', homeText, 'Not set') 
