include ../mixins/forms.pug
include ./mixins.pug

- var selectDatasetsHint = !review || !review.references || !review.references.length ? 'Please select data sets to be reviewed' : null;

mixin assignments(assignments, type, noContentMessage)
	.content-container
		.header-box=type
			if type === 'Active' && !closed
				- var isDisabled = !review.references || !review.references.length;
				button.btn.btn-lg.btn-success.pull-right(data-action='assign-task' disabled=!!selectDatasetsHint title=selectDatasetsHint) Add
		.content-box
			if !assignments || !assignments.length
				.no-content-message=noContentMessage
			else
				each assignment in assignments
					- var user = assignment.assignedTo;
					p 
						if !assignment.endDate && type === 'Active' && !closed
							button.btn.btn-xs.btn-danger(title='Cancel assignment' data-username=user.username data-user-displayname=user.name data-action='cancel-assignment')
								span.glyphicon.glyphicon-minus
						|  #{user.name} (
						span(title=formatDateTime(assignment.startDate))=formatDate(assignment.startDate)
						if assignment.endDate
							|  to 
							span(title=formatDateTime(assignment.endDate))=formatDate(assignment.endDate)
						| )

mixin review-info()
	.header-box Review info
		if review
			button.btn.btn-default.pull-right(data-action='open-widget' disabled=!!selectDatasetsHint title=selectDatasetsHint) Open in task widget
			.clear
	.content-box
		if !closed && (isInitiator || !review)
			form#review-form
				#review-form-general-message-group.alert(role='alert'): span.message
				if review
					+hidden('id', review.id)
				+hidden('type', 'REVIEW')
				+input('name', 'Review Task Name')
				if !review
					+select('repositoryPath', 'Repository', repositories)
				else
					+static('repositoryPath', 'Repository', review.repositoryLabel, review.repositoryPath)
				+textarea('comment', 'Comment')(rows=5)
				button.btn.btn-lg.btn-success.pull-right(data-action='create-task')=review?'Save':'Create'
				if review
					button.btn.btn-lg.btn-success.pull-right(data-action='complete-task') Complete
					button.btn.btn-lg.btn-danger.pull-right(data-action='cancel-task') Cancel
				.clear
		else
			- var comment = review.comment || '-';
			+static('name', 'Name', review.name)
			+static('repositoryPath', 'Repository', review.repositoryLabel, review.repositoryPath)
			+static('comment', 'Comment', comment)
			if hasAssignment && !closed
				button.btn.btn-lg.btn-success.pull-right(data-action='complete-assignment' data-username=currentUser) Complete
				button.btn.btn-lg.btn-danger.pull-right(data-action='cancel-assignment' data-username=currentUser) Cancel
				.clear

mixin data-set-selection()
	.header-box Data sets to be reviewed
		if isInitiator && !closed && (!review.assignments || !review.assignments.length)
			button.btn.btn-lg.btn-success.pull-right(data-action='select-references') Select
	.content-box.dataset-references
		if references && references.length
			each list in references			
				.three-columns.no-margin-bottom
					each reference in list
						+reference(review, reference, 'manage-review')
		else
			| There are not data sets selected yet for this review.

- var isInitiator = review && review.initiator.username === currentUser;
+review-info()
if review
	+data-set-selection()
if isInitiator
	.three-columns
		+assignments(activeAssignments, 'Active', 'This task is currently not assigned to any user.')
		+assignments(completedAssignments, 'Completed', 'This task has no completed assignments yet.')
		+assignments(canceledAssignments, 'Canceled', 'This task has no canceled assignments.')