include ./structures/product-system-parameter-set-table.pug

mixin target-amount-row()
	tr
		td=getLabel('targetAmount')
		td
			+field('targetAmount')
			if dataset.targetUnit || getValue(compareTo, targetUnit) || reviewMode
				|  
				+field('targetUnit.name')

+menubar
.content-box
	.model-left-content
		+header
		+tabbed-content
			- var hasLinks = hasAtLeastOne(dataset, null, 'processLinks');
			ul.nav.nav-tabs(role='tablist')
				+nav-tab('overview', true, true)
				if hasLinks && !standalone
					+nav-tab('supplyChain', false, hasLinks)
					+nav-tab('graph', false, hasLinks)
				+nav-tab('parameterSets')
				if !standalone
					+maximize-icon
				+nav-usage-tab()
			.tab-content
				+nav-tab-pane('overview', true, true)
					table.table.no-head
						tbody
							+ref-row('refProcess')
							if dataset.refExchange && dataset.refExchange.flow
								+ref-row('refExchange.flow')
							else
								- var name = dataset.refExchange ? dataset.refExchange.name : null;
								- var otherName = compareTo && compareTo.refExchange ? compareTo.refExchange.name : null;
								if name || otherName || reviewMode
									+field-row-frame('refExchange.name')
										+field-row-value(name, otherName)
							+ref-row('targetFlowProperty')
							+target-amount-row()
				if !standalone
					+nav-tab-pane('supplyChain', false, hasLinks)
						#process-tree-container
					+nav-tab-pane('graph', false, hasLinks)
						iframe(src='graph/graph.html' width='100%' height='500px')
				+nav-tab-pane('parameterSets')
					- var sets = getArrayValues(dataset, compareTo, 'PARAMETER_REDEF_SET', 'parameterSets');
					each values, i in sets
						+product-system-parameter-set-table(values[0], values[1])
						if i < sets.length - 1
							hr
				+nav-usage-tab-pane()
	+meta
		hr
		strong=getLabel('processes')
		div=dataset.processes?dataset.processes.length:0
		strong=getLabel('processLinks')
		div=dataset.processLinks?dataset.processLinks.length:0
	.clear