include ./mixins.pug

mixin non-causal-allocation-factor-table()
	h4 Physical & Economic allocation
	table.table.non-causal-allocation-factors
		thead
			tr
				th=getLabel('allocationFactors.product')
				th=getLabel('allocationFactors.physical')
				th=getLabel('allocationFactors.economic')
		tbody
			each values in getArrayValues(dataset, compareTo, 'ALLOCATION_FACTOR', 'nonCausalAllocationFactors')
				+non-causal-allocation-factor-row(values[0], values[1])

mixin non-causal-allocation-factor-row(factor, other)
	- var physical = factor ? (factor.physical && (factor.physical.index || factor.physical.index === 0) ? factor.physical : null) : null; 
	- var economic = factor ? (factor.economic && (factor.economic.index || factor.economic.index === 0) ? factor.economic : null) : null; 
	- var otherPhysical = other ? (other.physical && (other.physical.index || other.physical.index === 0) ? other.physical : null) : null; 
	- var otherEconomic = other ? (other.economic && (other.economic.index || other.economic.index === 0) ? other.economic : null) : null; 
	- var product = getValue(factor, 'product');
	- var otherProduct = getValue(other, 'product');
	tr
		td
			+ref(product, otherProduct)
		if physical || otherPhysical
			+sub-field-cell(physical, otherPhysical, 'value', null, formatRelative, true)(data-path=product?'allocationFactors[physical-' + product.id + ']':null)
		else
			td
		if economic || otherEconomic
			+sub-field-cell(economic, otherEconomic, 'value', null, formatRelative, true)(data-path=product?'allocationFactors[economic-' + product.id + ']':null)
		else
			td
