if items && items.length
	.menu-left
		.menu-bar.menu-active-bar
		.menu-bar.menu-hover-bar
		ul
			if repository && !repository.groupIsUserNamespace
				li.back: a(href='groups/' + repository.group)
					img.nav-icon.mobile-only(src='images/back.png' aria-label='Back logo')
					span.nav-label Back to group
				li.separate
			- var first = true;
			each item in items
				li(data-nav-id=item.id, class=item.id===active||(!active&&first)?'active':null)
					a(href=item.href) 
						img.nav-icon(src=item.imageSrc, aria-label=item.label + ' icon')
						span.nav-label=item.label
				- first = false;
.profile-link(title=name)
	a(href='user/profile')
		img.avatar(src='ws/user/avatar/' + username, aria-label='User avatar')
		span.username=name
.clear