include ./mixins.pug

mixin exchange-table(field, isInput)
	- var exchanges = [];
	- var show = {costs: false, uncertainty: false, dqEntry: false, defaultProvider: false, isAvoidedProduct: false, description: false, location: false};
	each values in getArrayValues(dataset, compareTo, 'EXCHANGE', field)
		- var exchange = values[0] || values[1];
		if exchange.isInput === isInput
			- exchanges.push(values);
			- show.costs = show.costs || exchange.costValue || exchange.currency;
			- show.dqEntry = show.dqEntry || exchange.dqEntry;
			- show.uncertainty = show.uncertainty || exchange.uncertainty;
			- show.defaultProvider = show.defaultProvider || exchange.defaultProvider;
			- show.isAvoidedProduct = show.isAvoidedProduct || exchange.isAvoidedProduct;
			- show.description = show.description || exchange.description;
			- show.location = show.location || exchange.location;
	if exchanges.length > 0
		div
			table.table(class=isInput?'inputs':'outputs')
				thead
					tr
						th
						th=getLabel('exchanges.flow')
						th=getLabel('exchanges.flow.category')
						th=getLabel('exchanges.amount')
						th=show.costs?getLabel('exchanges.costs'):''
						th=show.uncertainty?getLabel('exchanges.uncertainty'):''
						th=show.dqEntry?getLabel('exchanges.dqEntry'):''
						th=show.defaultProvider?getLabel('exchanges.defaultProvider'):''
						th=show.isAvoidedProduct?(isInput?getLabel('exchanges.isAvoidedWaste'):getLabel('exchanges.isAvoidedProduct')):''
						th=show.location?(getLabel('exchanges.location')):''
						th=show.description?(getLabel('exchanges.description')):''
						th
				tbody
					each values, count in exchanges
						+exchange-row(values[0], values[1], count, isInput, show)
			if exchanges.length > 10 && !compareTo
				a.toggle-control(href='#') Show #{exchanges.length - 10} more
				a.toggle-control(href='#' style='display:none') Show less
				if isInput
					p &nbsp;

mixin exchange-row(exchange, other, count, isInput, show)
	- var clazz = getValue(exchange, 'isQuantitativeReference') || getValue(exchange, 'isRefFlow') ? 'reference' : '';
	- var style = null;
	if count >= 10 && !compareTo
		- clazz += ' toggleable';
		- style = 'display:none';
	- var flow = getValue(exchange, 'flow');
	- var otherFlow = getValue(other, 'flow');
	- var unit = getValue(exchange, 'unit');
	- var otherUnit = getValue(other, 'unit');
	- var category = getValue(flow, 'category');
	- var otherCategory = getValue(otherFlow, 'category');
	- var changed = compareTo && !other ? 'added' : (compareTo && !exchange ? 'removed' : null);
	tr(data-compare=changed, class=clazz?clazz:null, style=style)
		td: img.icon-small(src='images/' + (isInput?'input':'output') + '.png' aria-label='Icon of ' + (isInput?'input':'output'))
		td
			+compare-icon(changed)
			+ref(flow, otherFlow)
		td: +category-field(flow, otherFlow, true, 'Flow')
		- var amount = getValue(exchange, 'amount');
		- amount = amount || amount === 0
		- var otherAmount = getValue(other, 'amount');
		- otherAmount = otherAmount || otherAmount === 0
		- var amountTitle = amount ? amount + (otherAmount && otherAmount != amount ? ' / ' + otherAmount : '') : (otherAmount ? otherAmount : '');
		+sub-field-cell(exchange, other, 'amount', null, formatScientific)(title=amountTitle) 
			|  
			+sub-field(unit, otherUnit, 'name')
		- var cost = getValue(exchange, 'costValue');
		- cost = cost || cost === 0
		- var otherCost = getValue(other, 'costValue');
		- otherCost = otherCost || otherCost === 0
		- var costTitle = cost ? cost + (otherCost && otherCost != cost ? ' / ' + otherCost : '') : (otherCost ? otherCost : '');
		+sub-field-cell(exchange, other, 'costValue', null, formatScientific)(title=costTitle) 
			+sub-field-ref(exchange, other, 'currency')
		+uncertainty-cell(exchange, other, formatScientific)
		td
			- var otherSystem = getValue(compareTo, exchangeDqSystem);				
			+dq-field(exchange, other, 'dqEntry', dataset.exchangeDqSystem, otherSystem, null, true)
		+sub-field-ref-cell(exchange, other, 'defaultProvider')
		td
			if show.isAvoidedProduct
				+boolean-sub-field(exchange, other, 'isAvoidedProduct')
		+sub-field-ref-cell(exchange, other, 'location')
		+sub-field-cell(exchange, other, 'description', null, null, false, 75)
		td(data-path=exchange?'exchanges[' + exchange.internalId +']':null)
