include ../mixins.pug

mixin exchange-list(map, otherMap)
	if map.refProduct || (otherMap && otherMap.refProduct)
		+exchange-sublist('Reference product', map ? [map.refProduct] : null, otherMap ? [otherMap.refProduct] : null)
	+exchange-sublist('By-products', map.byProducts, getValue(otherMap, 'byProducts'))
	+exchange-sublist('Produced waste', map.producedWaste, getValue(otherMap, 'producedWaste'))
	+exchange-sublist('Used products', map.usedProducts, getValue(otherMap, 'usedProducts'))
	+exchange-sublist('Recyled waste', map.recycledWaste, getValue(otherMap, 'recycledWaste'))
	+exchange-sublists(map, otherMap, 'resources')
	+exchange-sublists(map, otherMap, 'emissions')

mixin exchange-sublists(map, otherMap, path)
	- var cats1 = [];
	if map && map[path]
		each key in Object.keys(map[path])
			- cats1.push(key);
	if otherMap && otherMap[path]
		each key in Object.keys(otherMap[path])
			if $.inArray(key, cats1) === -1
				- cats1.push(key);
	each cat1 in cats1.sort()
		- var cats2 = [];
		if map && map[path] && map[path][cat1]
			each key in Object.keys(map[path][cat1])
				- cats2.push(key);
		if otherMap && otherMap[path] && otherMap[path][cat1]
			each key in Object.keys(otherMap[path][cat1])
				if $.inArray(key, cats2) === -1
					- cats2.push(key);
		each cat2 in cats2.sort()
			- var rLabel = cat1 + (cat2 ? ', ' + cat2 : '');
			- var value = null;
			if map && map[path] && map[path][cat1]
				- value = map[path][cat1][cat2];
			if otherMap && otherMap[path] && otherMap[path][cat1]
				- otherValue = otherMap[path][cat1][cat2];
			+exchange-sublist(rLabel, value, otherValue)

mixin exchange-sublist(title, array, otherArray)
	- var allValues = getArrayValues(array, otherArray, 'EXCHANGE');
	if allValues.length
		.exchange-list-part
			h4=title
			table
				each values, index in allValues
					+exchange(values[0], values[1], index)
			if allValues.length > 10
				a.toggle-control(href='#') Show #{allValues.length - 10} more
				a.toggle-control(href='#' style='display:none') Show less

mixin exchange(exchange, other, index)
	- var amount = getValue(exchange, 'amount');
	- amount = amount || amount === 0
	- var otherAmount = getValue(other, 'amount');
	- otherAmount = otherAmount || otherAmount === 0
	- var unit = getValue(exchange, 'unit');
	- var otherUnit = getValue(other, 'unit');
	- var flow = getValue(exchange, 'flow');
	- var otherFlow = getValue(other, 'flow');
	- var location = getValue(exchange, 'location');
	- var otherLocation = getValue(other, 'location');
	- var title = amount ? amount + (otherAmount && otherAmount != amount ? ' / ' + otherAmount : '') : (otherAmount ? otherAmount : '');
	- var amountChanged = compare(amount, otherAmount);
	- var unitChanged = compare(unit, otherUnit) || compare(getValue(unit, 'name'), getValue(otherUnit, 'name'));
	- var flowChanged = compare(flow, otherFlow) || compare(getValue(flow, 'name'), getValue(otherFlow, 'name'));
	- var locationChanged = compare(location, otherLocation) || compare(getValue(location, 'name'), getValue(otherLocation, 'name'));
	- var changed = amountChanged || unitChanged || flowChanged || locationChanged;
	tr(class=index>=10?'toggleable':null, style=index>=10?'display:none':null)
		td: span.same-size-font(title=title, data-compare=amountChanged)
			img.icon-small(src='images/' + ((exchange?exchange.isInput:other&&other.isInput)?'input':'output') + '.png' aria-label='Icon of ' + ((exchange?exchange.isInput:other&&other.isInput)?'input':'output'))
			if exchange
				span.original-value
					if exchange.amount > 0
						| &nbsp;
					| #{formatScientific(exchange.amount, true)}
			if other && (amountChanged || !exchange)
				span.comparison-value
					if other.amount > 0
						| &nbsp;
					| #{formatScientific(other.amount, true)}
		td(data-compare=unitChanged)
			if unit
				span.original-value=unit.name
			if otherUnit && (unitChanged || !unit)
				span.comparison-value=otherUnit.name
		td
			span(data-compare=flowChanged): +ref(flow, otherFlow, null, true)
			if (location || otherLocation)
				|  in 
				span(data-compare=locationChanged): +ref(location, otherLocation, null, true)
