include ./mixins.pug

mixin project-variant-table()
	table.table
		thead
			tr
				th=getLabel('variants.name')
				th=getLabel('variants.productSystem')
				th=getLabel('variants.allocationMethod')
				th=getLabel('variants.amount')
				th=getLabel('variants.description')
				th=getLabel('variants.isDisabled')
				th
		tbody
			each values in getArrayValues(dataset, compareTo, 'VARIANT', 'variants')
				+project-variant-row(values[0], values[1])

mixin project-variant-row(variant, other)
	- var changed = compareTo && !other ? 'added' : (compareTo && !variant ? 'removed' : null);
	tr(data-compare=changed)
		td
			+compare-icon(changed)
			+sub-field(variant, other, 'name')
		- var system = getValue(variant, 'productSystem');
		- var otherSystem = getValue(other, 'productSystem');
		td: +ref(system, otherSystem)
		+sub-field-cell(variant, other, 'allocationMethod')
		td 
			+sub-field(variant, other, 'amount')
			| &nbsp;
			+sub-field(variant, other, 'unit.name')
		+sub-field-cell(variant, other, 'description')
		td 
			+boolean-sub-field(variant, other, 'isDisabled')
		td(data-path=variant&&system?'variants[' + system.id + '-' + variant.name + ']':null)
