include ./mixins.pug

mixin unit-table()
	table.table.units
		- var showSynonyms = hasAtLeastOne(dataset, compareTo, 'units', 'synonyms');
		- var showSynonyms = hasAtLeastOne(dataset, compareTo, 'units', 'description');
		- var refUnit = null;
		each unit in dataset.units
			if unit.isRefUnit
				- refUnit = unit
		thead
			tr
				th=getLabel('units.name')
				th
					if showDescriptions
						| #{getLabel('units.description')}
				th
					if showSynonyms
						| #{getLabel('units.synonyms')}
				th=getLabel('units.formula')
				th
		tbody
			each values in getArrayValues(dataset, compareTo, 'UNIT', 'units')
				+unit-row(values[0], values[1], refUnit)

mixin unit-row(unit, other, refUnit)
	- var changed = compareTo && !other ? 'added' : (compareTo && !unit ? 'removed' : null);
	tr(data-compare=changed, class=unit&&unit.isRefUnit?'reference':null)
		td
			+compare-icon(changed)
			| #{unit?unit.name:other.name}
		+sub-field-cell(unit, other, 'description')
		+sub-field-cell(unit, other, 'synonyms')
		td 1 #{unit?unit.name:other.name} = 
			+sub-field(unit, other, 'conversionFactor')
			|  #{refUnit.name}
		td(data-path=unit?'units[' + unit.name + ']':null)

