include ../../mixins/category-breadcrumb.pug
include ../../mixins/paging.pug

mixin dataset-label(dataset)
	- var imgSrc = 'images/model/small/' + getIcon(dataset);
	if !standalone && (dataset.diffType === 'ADDED' || dataset.diffType === 'DELETED')
		- imgSrc = 'ws/public/overlay?image=' + imgSrc + '&overlay=images/model/' + (dataset.diffType === 'ADDED' ? 'add' : 'delete') + '.png';
	img.model-icon-small(src=imgSrc)
	if dataset.diffType === 'DELETED'
		del=dataset.name
	else
		span=dataset.name

each dataset in data
	- var url = '';
	if dataset.isLibrary
		if dataset.isPublic
			- url = 'ws/libraries/' + dataset.refId;
		else
			- url = 'ws/public/libraries/' + dataset.refId;
	else if dataset.isCategory
		- url = baseUrl + 's/' + getTypeLabel(dataset.type) + '/' + (dataset.category ? dataset.category + '/' : '') + dataset.name;
	else
		- url = baseUrl + '/' + dataset.type + '/' + dataset.refId;
	- url += '?commitId=' + commitId;
	- var linkDataset = dataset.diffType !== 'DELETED' && (!dataset.isLibrary || dataset.isAvailable) && (!standalone || (!dataset.isLibrary && dataset.diffType !== 'ADDED'));
	.file-reference(id=dataset.id)
		.header
			if linkDataset
				a(data-type=dataset.diffType==='MODIFIED'||dataset.diffType==='MOVED'?'changed':dataset.diffType.toLowerCase() href=standalone?commitId+'-'+dataset.refId+'.html':url class=standalone?'standalone':null)
					+dataset-label(dataset)
			else
				span: +dataset-label(dataset)
			if dataset.category && dataset.category.length
				- var catUrl = null;
				if linkDataset
					- catUrl = baseUrl + 's/' + getTypeLabel(dataset.type);
				+category-breadcrumb(dataset.category.split('/'), catUrl, true)
if !standalone
	+paging(resultInfo)