include ./mixins.pug

mixin flow-property-table()
	table.table.flow-properties
		thead
			tr
				th=getLabel('flowProperties.name')
				th=getLabel('flowProperties.formula')
				th
		tbody
			- var refFactor = null;
			if dataset.flowProperties
				each factor in dataset.flowProperties
					if factor.isRefFlowProperty
						- refFactor = factor
			each values in getArrayValues(dataset, compareTo, 'FLOW_PROPERTY_FACTOR', 'flowProperties')
				+flow-property-row(values[0], values[1], refFactor)

mixin flow-property-row(factor, other, refFactor)
	- var changed = compareTo && !other ? 'added' : (compareTo && !factor ? 'removed' : null);
	- var property = getValue(factor, 'flowProperty');
	- var otherProperty = getValue(other, 'flowProperty');
	tr(data-compare=changed, class=getValue(factor, 'isRefFlowProperty')?'reference':null)
		td
			+compare-icon(changed)
			+ref(property, otherProperty)
		td 1 #{refFactor.flowProperty.refUnit} = 
			+sub-field(factor, other, 'conversionFactor')
			|  
			+sub-field(property, otherProperty, 'refUnit')
		td(data-path=property?'flowProperties[' + property.id + ']':null)
