include ./mixins.pug

mixin impact-factor-table()
	- var factors = getArrayValues(dataset, compareTo, 'IMPACT_FACTOR', 'impactFactors');
	- var showUncertainties = false;
	each factor in factors
		- showUncertainties = showUncertainties || (factor[0] && factor[0].uncertainty) || (factor[1] && factor[1].uncertainty)
	h4(data-path=dataset?'impactCategories[' + dataset.Id + '].impactFactors':null) Impact factors
	table#impact-factors.table
		thead
			tr
				th=getLabel('impactCategories.impactFactors.flow')
				th=getLabel('impactCategories.impactFactors.flow.category')
				th=getLabel('impactCategories.impactFactors.location')
				th=getLabel('impactCategories.impactFactors.value')
				th
					if showUncertainties
						| #{getLabel('impactCategories.impactFactors.uncertainty')}
				th
		tbody
			- var count = 0;
			each values in factors
				- var categoryId = getValue(dataset, 'id');
				- var refUnit = getValue(dataset, 'refUnit');
				+impact-factor-row(dataset, compareTo, values[0], values[1], count)
				- count++;
	if count > 10 && !compareTo
		a.toggle-control(href='#') Show #{count - 10} more
		a.toggle-control(href='#' style='display:none') Show less
					
mixin impact-factor-row(category, otherCategory, factor, otherFactor, count)
	- var flow = getValue(factor, 'flow');
	- var otherFlow = getValue(otherFactor, 'flow');
	- var unit = getValue(factor, 'unit');
	- var otherUnit = getValue(otherFactor, 'unit');
	- var changed = compareTo && !otherFactor ? 'added' : (compareTo && !factor ? 'removed' : null);
	- var hide = count>=10 && !compareTo; 
	tr(data-compare=changed, class=hide?'toggleable':null, style=hide?'display:none;':null)
		td
			if category && otherCategory
				+compare-icon(changed)
			+ref(flow, otherFlow)
		td: +category-field(flow, otherFlow, true, 'Flow')
		+sub-field-ref-cell(factor, otherFactor, 'location')
		td 
			+sub-field(factor, otherFactor, 'value', null, formatScientific)
			|  
			+sub-field(category, otherCategory, 'refUnit')
			| /
			+sub-field(unit, otherUnit, 'name')
		+uncertainty-cell(factor, otherFactor, formatScientific)
		td(data-path=flow?'impactCategories[' + category.id + '].impactFactors[' + flow.id + ']':null)