include ./mixins.pug

mixin parameter-table(isInput)
	- var parameters = getValue(dataset, 'parameters');
	- var isEmpty = true;
	- var putPath = true;
	if parameters
		each parameter in parameters
			if parameter.isInputParameter && !isInput
				- putPath = false;
			if parameter.isInputParameter === isInput
				- isEmpty = false;
	if !isEmpty
		- var filter = function(param) {return param.isInputParameter !== isInput;};
		h4=isInput?'Input parameters':'Dependant parameters'
		table.table.table-parameters
			thead
				tr
					th
						if hasAtLeastOne(dataset, compareTo, 'parameters', 'description', filter) || hasAtLeastOne(dataset, compareTo, 'parameters', 'uncertainty', filter)
							| #{getLabel('parameters.name') + '/' + getLabel('parameters.value')}
					th
						if hasAtLeastOne(dataset, compareTo, 'parameters', 'description', filter)
							| #{getLabel('parameters.description')}
					if isInput 
						th
							if hasAtLeastOne(dataset, compareTo, 'parameters', 'uncertainty', filter)
								| #{getLabel('parameters.uncertainty')}
					th
			tbody
				each values in getArrayValues(dataset, compareTo, 'PARAMETER', 'parameters')
					if (values[0] ? values[0].isInputParameter : values[1].isInputParameter) === isInput 
						+parameter-row(values[0], values[1], isInput)

mixin parameter-row(parameter, other, isInput)
	- var changed = compareTo && !other ? 'added' : (compareTo && !parameter ? 'removed' : null);
	tr(data-compare=changed)
		td
			+compare-icon(changed)
			| #{parameter?parameter.name:other.name}
			if !isInput
				|  = 
				+sub-field(parameter, other, 'formula')
			|  = 
			+sub-field(parameter, other, 'value')
		+sub-field-cell(parameter, other, 'description')
		if isInput
			+uncertainty-cell(parameter, other)
		td(data-path=parameter?'parameters[' + parameter.name + ']':null)
