include ../mixins/commit-info.pug
include ../mixins/user-info.pug

mixin type-text()
    span(data-activity=type)  
        if type === 'COMMIT'
            | committed data
        else if type === 'COMMENT'
            if reply
                | replied
            else
                | commented
        else if type === 'TASK_STARTED'
                | started a task
        else if type === 'TASK_ASSIGNED'
                | assigned a task to #{assignedTo}
        else if type === 'TASK_COMPLETED'
                | completed a task
        else if type === 'TASK_CANCELED'
                | canceled a task
        else if type === 'TASK_ASSIGNMENT_COMPLETED'
                | completed a task assignment
                if assignedTo
                    |  for #{assignedTo}
        else if type === 'TASK_ASSIGNMENT_CANCELED'
                | canceled a task assignment
                if assignedTo
                    |  for #{assignedTo}

mixin link()
    - var href = '';
    - var text = '';
    if type === 'COMMIT'
        - href = repositoryPath + '/commit/' + id;
        - text = 'Go to commit';
    else if type === 'COMMENT'
        - href = repositoryPath + '/dataset/' + field.modelType + '/' + field.refId + '?commitId=' + field.commitId + '&commentPath=' + (field.path || 'null') ;
        - text = 'Go to comment';
    else if type.indexOf('TASK_') === 0
        - href = 'tasks/' + taskType.toLowerCase() + '/' + id;
        - text = 'Go to task';
    a.pull-right.default-link(href=href)=text

.list-entry.activity
    +user-info(user, userDisplayName)
        +type-text()
        if showRepositoryPath
            |  on 
            a.default-link(href=repositoryPath)=label
        if timestamp
            span  on #{formatDate(timestamp)} at #{formatTime(timestamp)}
        br
        if type === 'COMMIT'
            .commit-info-container(data-commit-id=id)
                img(src='images/loader.gif' width=16 height=16)
        span.message  #{message}
    +link()
    .clear