include ./forms.pug

mixin paging(resultInfo, getUrl, pageSizeId)
	- var page = resultInfo.currentPage;
	- var pageCount = resultInfo.pageCount;
	- var pageSize = resultInfo.pageSize;
	if !getUrl
		- getUrl = function() {return '#';};
	if pageCount > 1 || pageSize > 10 || pageSize === 0
		.paging
			- var startPage = 1;
			- var endPage = 10;
			if page > 4
				- startPage = page - 4;
				- endPage = page + 5;
			if pageCount <= endPage
				- endPage = pageCount;
			if page > 1
				span: a.page(href=getUrl(1) aria-label='First page' data-page=1) <<
				span: a.page(href=getUrl(page-1) aria-label='Previous page' data-page=page-1) <
			- var p = startPage
			while p <= endPage
				- var isActive = (p === page)
				- var isFirstAfterActive = (p === page + 1)
				if isActive
					span=p
				else
					span(class=isFirstAfterActive?'indent':''): a.page(href=getUrl(p) aria-label='Page '+p data-page=p)=p
				- p++;
			if page < pageCount
				span: a.page(href=getUrl(page+1) aria-label='Next page' data-page=page+1) >
				span: a.page(href=getUrl(pageCount) aria-label='Last page' data-page=pageCount) >>
			- values = [10, 25, 50, 100];
			- pageSizeId = pageSizeId || 'page-size'
			+select(pageSizeId, null, [10, 25, 50, 100], pageSize, true)(class='input-sm' aria-label='Select page size')