include ./mixins/forms.pug
include ./mixins/long-text.pug

.home-container
	h3!=title
	p!=welcomeText
	if showSearch
		form#search-form
			.input-group.input-group-lg
				input#search.form-control(type='text' placeholder='Search across all public repositories' aria-label='Search')
				span.input-group-btn
					button.btn.btn-lg.btn-primary(data-action='search') Search
	if repositories.length > 6
		hr
		.filter-options.pull-right
			- var typesOfData = ['All'];
			each repo in repositories
				if repo.settings.typeOfData && typesOfData.indexOf(repo.settings.typeOfData) === -1
					- typesOfData.push(repo.settings.typeOfData);
			if typesOfData.length > 2
				+select('typeOfData', 'Type of data', typesOfData, typeOfData || 'All', true)
			+select('sortBy', 'Sort by', ['Default', 'Release date'], sortBy || 'Default', true)
	.clear

.pinned-repositories(class=repositories.length>=3?'three-columns':repositories.length===2?'two-columns':null)
	each repo in repositories
		if !typeOfData || typeOfData === 'All' || typeOfData === repo.settings.typeOfData
			.pinned-repository(data-group=repo.group data-repo=repo.name)
				.header-box
					h4=repo.label
					.dataset-count
						span.dataset-count-container
							img(src='images/loader.gif' width=16 height=16)
							|  
						button.btn.btn-default.btn-xs(data-action='download' title='Download ' + repo.label + ' as JSON-LD'): span.glyphicon.glyphicon-download
					.repo-description
						if repo.settings.description
							h4: small: +long-text(repo.settings.description, 250, true)
					button.btn.btn-lg.btn-block.btn-success(data-action='browse') Browse 
