include ../mixins/forms.pug

mixin aggregation-entry(aggregationName, entry, singleton, depth, parentLabel, previousCount) 
	li
		- var label = getLabel(aggregationName, entry.key, entry.label);
		if parentLabel && label.indexOf(parentLabel + '/') === 0
			- label = label.substring(parentLabel.length + 1);
		- var selected = isSelectedAggregationValue(aggregationName, entry.key)
		if !singleton && !selected
			- var id = aggregationName + '-' + entry.key;
			if multiSelect
				- var boxLabel = label + '(' + entry.count + ')';
				+checkbox(id, boxLabel, 'primary', true)(data-value=entry.key data-aggregation=aggregationName)
			else
				a(href=getAggregationUrl(aggregationName, entry.key)) #{label} (#{entry.count})
		else
			| #{label} (#{entry.count}) 
			if selected
				a(href=getAggregationUrl(aggregationName, entry.key, true)): span.glyphicon.glyphicon-remove
		- previousCount += 1;
		if entry.subEntries
			ul
				each subEntry, index in entry.subEntries
					if showAll || index + previousCount < 10
						- var subAggregationName = entry.subAggregationName || aggregationName;
						- var subSingleton = entry.subEntries.length === 1 && singleton;
						- var subDepth = depth ? depth + 1 : 1;
						+aggregation-entry(subAggregationName, subEntry, subSingleton, subDepth, entry.key, previousCount)
					- previousCount += getSubCount(subEntry);

.aggregation
	- var singleton = aggregation.entries.length === 1;
	div
		strong=label
		|  
		if !singleton && !isSelected
			small: a.multi-select(href='#')=multiSelect ? 'apply' : 'multi-select'
	ul
		if totalCount <= 12
			each entry, index in aggregation.entries
				+aggregation-entry(aggregation.name, entry, false, 0, null, -1)
		else
			div
				- var previous = 0;
				each entry, index in aggregation.entries
					if showAll || index + previous < 10
						+aggregation-entry(aggregation.name, entry, singleton, 0, null, previous)
						- previous += getSubCount(entry);
				a.default-link.toggle-show(href='#')=showAll ? 'Show less' : 'Show ' + (totalCount - 10) + ' more'
